/* Card Flip */
.show-card {
    perspective: 1000px;
}

/* Shadow and Rounded Corners */
.show-card {
    border-radius: 0.75rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); 
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a202c;
    color: #f7fafc;
}

body.dark-mode .bg-white {
    background-color: #2d3748;
    color: white;
}




/* Star color */
.star {
    cursor: pointer;
    color: #d1d5db; /* gray-300 */
    transition: color 0.2s transform 0.2s;
}

/* Star color active  */
.star.active {
    color: #fbbf24 !important; 
}

/* Hover effect */
.star:hover {
    transform: scale(1.2);
    color: #fcd34d; 
}